<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Downloading Web</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Instrument Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
  <div id="pageWrapper">
    <div class="taskBar">
      <Button id="animateButton" class="animatedButton">
      </Button>
      <Button id= "dropDownButton" class="dropDownButton">
          <i class="fa fa-chevron-down">

          </i>
      </Button>
      <Button id= "downloadButton" class="downloadButton">
          Downlaod
      </Button>
      <input class="inputForm" type="text" id="inputForm"  name="youtubeLink" oninput="setLink();">
    </div>
    
    <div id="resultBoard" class="resultBoard">
      <iframe id="youtubePreview" class="youtubePreview">
      </iframe>
      
      <div class="descriptionBoard">
        <h3 id="descriptionTitle" class="descriptionTitle"></h3>
        <h3 id="description" class="description">Description: </h3>
        <div class="descriptionContainer">
          <p id="descriptionDetails" class="descriptionDetails">
          </p>
        </div>
      </div>
    </div>
    <script src="/public/js/main.js"></script>
  </div>
</body>
</html>