body {
    margin-top: 60px;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
}

#pageWrapper {
    width: 1920px;
    margin: 0 auto;
    transform-origin: top center;
}

.taskBar{
    width: 1633px;
    height: 60px;
    margin-bottom: 60px;
}

.inputForm{
    background-color: #DACFCF;
    position: absolute;
    border: none;
    width: 1300px;
    height: 55px;
    border-radius: 30px;
    opacity: 0;
    /* margin-left: 5px; */
    left: 20px;
    font-size: 20px;
    font-family: 'Instrument Sans';
    transition: all 1s;
    display: none;
}

input:focus {
    outline: none;
    border: none;
}

.animatedButton{
    left:50%;
    background-color: #C2ADAD;
    border-radius: 30px;
    padding: 0px;
    width: 60px;
    height: 60px;
    line-height: 60px;  
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 1s;
    transform: all 1s;
    position: absolute;
    display: inline-block;
}

.downloadButton{
    background-color: #D1AEAE;
    padding: 0px;
    border: none;
    width: 132px;
    height: 44px;
    border-radius: 22px;
    font-size: 20px;
    font-family: 'Instrument Sans';
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    opacity: 0;
    transition: opacity 2s; 
    position: absolute;
    top: 8px;
    left: 1490px;
    color: #333333;
    display: none;
}

.dropDownButton{
    background-color: #D1AEAE;
    padding: 0px;
    border: none;
    width: 132px;
    height: 44px;
    border-radius: 22px;
    font-size: 20px;
    font-family: 'Instrument Sans';
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    transition: opacity 2s; 
    position: absolute;
    top: 8px;
    left: 1340px;
    text-align: justify;
    padding-left: 15px;
    color: #333333;
    font-size: 20px;
    opacity: 0;
    display: none;
}

.resultBoard{
    border-radius: 30px;
    margin-top: 80px;
    background-color: #DACFCF;
    width: 1633px;
    height: 646px;
    display: flex;  
    gap: 40px;
    opacity: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 2s; 
    display: none;
}

.youtubePreview{
    width: 520px;
    height: 350px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 50px;
    flex-shrink: 0;
}

.descriptionBoard{
    background-color: #D1AEAE;
    width: 959px;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 30px;
    flex-shrink: 0;
}

.descriptionTitle{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    width: 940px;
    height: 70px;
    opacity: 0;
    transition: opacity 1s;
    flex-shrink: 0;
}

.descriptionDetails{
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Instrument Sans';
    width: 940px;
    height: 300px;
    opacity: 0;
    transition: opacity 1s;
    flex-shrink: 0;
    white-space: pre-wrap;
    overflow-y:auto;
}

.description{
    opacity: 0;
    margin-left: 15px;
    font-size: 25px;
}

&::-webkit-scrollbar {
    width: 8px; 
}